<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Label Printer</title>
  </head>

  <body>  
    <div class="container">
      <h2>Label Printer</h2>
    </div>

    <div class="container">
      <form action="/" method="post">
        <div class="mb-3">
          <label for="text" class="form-label"></label>
          <p>1st Line</p>
          <input type="text" class="form-control" placeholder="" id="line1" name="line1">
        </div>
        <div class="mb-3">
          <p>2nd Line</p>
          <input type="text" class="form-control" placeholder="" id="line2" name="line2">
          <label for="text" class="form-label"></label>
        </div>
        <!--button type="submit" class="btn btn-primary">Confirm</button-->
        <button type="submit" class="btn btn-primary">Plot</button>
      </form>
    </div>
  </body>
</html>
